[user]
  name = s-li1
  email = stevenli8892@hotmail.com.au
[init]
  defaultBranch = main
[core]
  excludesfile = /Users/steven.li/.gitignore_global
[alias]
  revertf = !sh -c 'git show $1 -- $2 | git apply -R' -
